OPENAI_API_KEY=<YOUR OPENAI API KEY>
export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT=https://api.smith.langchain.com
export LANGSMITH_API_KEY=<YOUR LANGSMITH API KEY>
export LANGSMITH_PROJECT=<YOUR LANGSMITH PROJECT NAME>
